body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 15px;
}

h1 {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
}

input, select {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.result {
    margin-top: 20px;
    font-size: 16px;
    color: #1d01a9;
    text-align: center;
}